.env
node_modules/
**/generated_map.html 
src/python/data
src/python/shapefiles/Australia/FederalElectorates
src/python/shapefiles/Australia/National
src/python/shapefiles/Australia/StateElectorates
src/python/shapefiles/Australia/States
src/python/shapefiles/Australia/Postcodes
