<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapAlytics | Main</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/sidebar.css">
</head>
<body>
    <div id="sidebar-overlay" class="sidebar-overlay"></div>
    <div id="sidebar-placeholder"></div>
    <div class="main-container">
        <header class="navbar">
            <h1>MapAlytics</h1>

            <div class="globe-icon" id ="globe-icon">
                <img src="../icons/globe-icon.svg">
            </div>

            <div class="settings-icon" id ="settings-icon">
                <img src="../icons/settings-icon.svg" alt="Settings" title="Settings">
            </div>
        </header>
        <main class="content">
            <div class="dropdowns-container">
                <div class="dropdown" id="state-dropdown-container">
                    <div class="dropdown-toggle">States</div>
                    <div class="dropdown-menu" id = 'state-dropdown'>
                        <label><input type="checkbox" value="New South Wales"> New South Wales</label>
                        <label><input type="checkbox" value="Victoria"> Victoria</label>
                        <label><input type="checkbox" value="Queensland"> Queensland</label>
                        <label><input type="checkbox" value="Australian Capital Territory"> Australian Capital Territory</label>
                        <label><input type="checkbox" value="South Australia"> South Australia</label>
                        <label><input type="checkbox" value="Western AustraliaWA"> Western Australia</label>
                        <label><input type="checkbox" value="Northern Territory"> Northern Territory</label>
                        <label><input type="checkbox" value="Tasmania"> Tasmania</label>
                    </div>
                </div>
            
                <div class="dropdown" id="year-dropdown-container">
                    <div class="dropdown-toggle">Years</div>
                    <div class="dropdown-menu" id = 'year-dropdown'>
                        <label><input type="checkbox" value="2021"> 2021</label>
                        <label><input type="checkbox" value="2022"> 2022</label>
                        <label><input type="checkbox" value="2023"> 2023</label>
                    </div>
                </div>
            </div>
            <button id="generate-map-btn" disabled>Generate Map</button>
            <div id="map-container" class="map-container">
                <!-- Rendered HTML map will load here -->
            </div>
        </main>
    </div>
    <script src="../js/main.js"></script>
    <script src="../js/settings.js"></script>
</body>
</html>
